/* Program details page styles */
.program-details {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.program-details h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.program-details img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.program-details p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}